body{
    display: grid;
    grid-template-rows: 100px 100px;

    margin: 0;
    padding: 0;
}

header{
align-content: center;

}

#navbar{
    display: flex;
    float: right;
    align-items: center;
    height: 100px;
    gap: 20px;
    margin-right: 20px;

    #about{
        text-decoration: none;
        color: black;
    }
    #contact{
        text-decoration: none;
        color: black;
    }
    #gallery{
        text-decoration: none;
        color: black;
    }
    #services{
        text-decoration: none;
        color: black;
    }
    #login_register{
        text-decoration: none;
        color: black;
    }
}